#top{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(-160deg, #FFFFFF, #00EEFF, #8671EE, #FF00DF, #808080);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1, h2{
        font-weight: 300;
        font-size: 20px;
    } 
    h1{
        margin-bottom: 20px;
    }
   
}

.content-top{
    position: relative;
    width: 80%;
    height: 80%;
    // background: red;
    padding-top: 60px;
    margin: auto;

    h1, h2, .income , .expense{
        text-align: center;
    }

    .incomee{
        width: 350px;
        height: 50px;
        background: color(income);
        margin: 20px auto;
        padding: 0 8px;
        border-radius: 30px;
        box-shadow: 3px 6px 10px rgba(0,0,0,0.5);
        transition: 0.3s ease-in-out;
        
        p{
            margin: 11px 0 0 10px;
            float: left;
            font-size: 20px;   
        }
        .ivalue{
            margin: 12px 10px 0 0;            
            float: right;
            color: #fff;
            font-size: 22px;
        }
    }

    .incomee:hover{
        box-shadow: 6px 12px 20px rgba(0,0,0,0.5);
    }

    .expensee{
        @extend .incomee;
        margin: -5px auto;
        background: color(expense);

        .evalue{
            @extend .ivalue;
        }
    }
}